//! **************************************************************************
// Written by: Map P.20131013 on Tue Jul 07 15:50:16 2020
//! **************************************************************************

SCHEMATIC START;
COMP "s" LOCATE = SITE "E12" LEVEL 1;
COMP "a" LOCATE = SITE "L13" LEVEL 1;
COMP "b" LOCATE = SITE "L14" LEVEL 1;
COMP "c" LOCATE = SITE "F12" LEVEL 1;
SCHEMATIC END;

